.page {
    margin: 5px 0 0 5px;
    padding: 2px;
    display: inline-block;
    border: 1px solid yellow;
    cursor: pointer;
}

.selectPage {
    font-weight: bold;
    border: 1px solid red;;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}