ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header-logo {
  width: 60px;
  height: 60px;
}

.header {
  grid-area: h;
  background-color: greenyellow;
}

.nav {
  grid-area: nav;
  background-color: burlywood;
}

.content {
  grid-area: content;
  background-color: aqua;
}


