ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "nav c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}

button {
  cursor: pointer;
}








